/* Chat Module Styles */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: var(--primary-margin);
}

.chatRoot,
.chatContainer,
.chatEmptyState,
.chatMessageStream,
.chatMessageGpt,
.chatMessageGptMinWidth,
.chatInput,
.chatAnalysisPanel,
.oneshotContainer,
.oneshotTopSection,
.oneshotBottomSection,
.oneshotQuestionInput,
.oneshotAnswerContainer,
.oneshotAnalysisPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--input-padding);
    max-width: var(--container-max-width);
}

.chatEmptyStateTitle {
    font-size: var(--heading-font-size);
    font-weight: var(--primary-font-weight);
    margin-bottom: var(--primary-margin);
}

@media only screen and (max-width: 800px) {
    .chatEmptyStateTitle {
        font-size: var(--subheading-font-size);
    }
}

.chatMessageGpt {
    margin-bottom: var(--primary-margin);
    max-width: 80%;
    min-width: 500px;
}

.chatInput {
    position: sticky;
    bottom: 0;
    flex: 0 0 auto;
    background: var(--chat-input-background);
}

.chatAnalysisPanel {
    width: var(--panel-width);
}

.chatSettingsSeparator {
    height: 1px;
    background-color: var(--separator-color);
    width: 100%;
}

.commandsContainer {
    align-self: flex-end;
    margin: var(--primary-margin);
}

.commandButton:hover {
    background-color: darken(var(--primary-accent-color), 10%);
}
