.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

.header {
    background-color: var(--primary-background);
    color: var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
}

.headerLogo {
    height: var(--header-logo-size);
}

.headerTitle {
    margin-left: 12px;
    font-weight: bold;
    font-size: 1.25rem;
}

.headerNavList {
    display: flex;
    list-style: none;
    padding-left: 0;
    align-items: center;
}

.headerNavPageLink {
    color: inherit;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity var(--transition-speed) ease-in-out;
}

.headerNavPageLink:hover,
.headerNavPageLink:focus {
    opacity: var(--link-hover-opacity);
}

.headerNavPageLinkActive {
    color: inherit;
    text-decoration: underline;
}

.headerNavLeftMargin {
    margin-left: 20px;
}

.headerRightText {
    font-weight: normal;
    margin-left: 40px;
}

.microsoftLogo,
.githubLogo {
    display: inline-block;
    vertical-align: middle;
    transition: transform var(--transition-speed) ease-in-out;
}

.microsoftLogo:hover,
.githubLogo:hover {
    transform: scale(1.05);
}

.microsoftLogo {
    height: var(--microsoft-logo-size);
}

.githubLogo {
    height: var(--github-logo-size);
}
