.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  background-color: #5c6bc0;
  color: white;
  padding: 10px 0;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 12px;
}

.headerTitleContainer {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.headerLogo {
  height: 40px;
  margin-right: 10px;
}

.headerTitle {
  font-weight: 600;
  font-size: 1.2em;
}

.headerNavList {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.headerNavPageLink {
  color: white;
  text-decoration: none;
  opacity: 0.75;
  margin: 0 15px;
}

.headerNavPageLink:hover {
  opacity: 1;
  text-decoration: underline;
}

.headerNavPageLinkActive {
  color: white;
  text-decoration: none;
}

.headerRightText {
  font-weight: normal;
  margin-left: 40px;
}

.microsoftLogo,
.githubLogo {
  height: 23px;
  margin-left: 10px;
}
